* {

    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    place-items: center;

}

.textDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}


h1 {
    color: #E9A6A6;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: bolder;
}


.custom-select {
    margin-top: 50%;
    position: relative;
}

select {
    box-shadow: 0 10px 25px (0, 0, 0, 0.5);
    font-size: 1.5rem;
    padding: 0.5em 2em 0.5em 0.5em;
    background: #4d5061;
    color: #E9A6A6;
    border: 0;
    text-align: center;
    cursor: pointer;
}

.custom-arrow {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    background: #3b3c47;
    height: 100%;
    width: 4rem;
    pointer-events: none;

}

.custom-arrow::before,
.custom-arrow::after {

    --size: 0.5em;

    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-arrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #4d5061;
    top: 40%;
}

.custom-arrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #4d5061;
    top: 60%;
}

.pDiv {
    padding-top: 5%;
    font-size: 1.5rem;
    text-align: center;
    color: #E9A6A6;
    line-height: 1.5em;
}

.aDiv{
    margin-top: 5%;
    font-size: 2.5rem;
    text-align: center;
    color: #FF5151;
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: inherit;
}